body{
    font-family: Arial;
    font-size: 30px;
    height:auto;
    width:100%;
    /* min-height:1024px; */
    min-height:1280px;
    background-image: linear-gradient(#ffffff27, #65FA, #0DB6FA);
    background-repeat: no-repeat;
}

a {
    color : black;
    text-decoration: none;
    font-weight: bold;
}

#containerPrimary {
    display: flex;
    flex: auto;
    height:auto;
    width:auto;
}

/* définition des propriétés du HEADER, à compléter */

#header{
    display: flex;
    align-items: center;
    text-align: center;
    background-color:black;
    color:antiquewhite;
}


#signIn{
    max-width: 12.5%;
    max-height: 12.5%;
}

#signIn a {
    color: antiquewhite;
    font-style: italic;
    font-size: 0.9em;
}

.menuPicture{
    flex: auto;
    max-width: 12.5%;
    min-width: 12.5%;
    padding-left: -25px;
}

.menuPicture img{
    height: 25px;
}

.helloYou{
    flex:auto;
    max-width:75%;
    padding-left: 25px;
    /* margin-left: 10px; retrouver comment faire pour mettre une marge à gauche -- flexbox ???  */
}

/* fin de la définition des propriétés du HEADER */


/* définition du menu type roll out */

#menuRollOut {
    position: absolute;
    z-index: 1;
    display: flex;
    flex:auto;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content:space-between;
    background-color : white;
    max-width: 8em;
    width:0%;
    min-height: 1000px;
    height: auto;
    display: none;
    border:3px black;
}


/* définition de la partie "Accueil" */
#menuRollOut .accueil{
    padding-top: 30px;
}

#menuRollOut .index{
    padding-top: 15px;
    padding-left: 15px;
    font-size: 0.8em;
    font-style: normal;
    text-decoration: none;
    color: black;
}
#menuRollOut .indexImg{
    float: left;
}
#menuRollOut .indexImg img{
    padding-top: 12px;
    height: 1.2em;
}
/* Fin de la définition de la partie "Accueil" */


/* Définition de la partie "S'inscrire" */
#menuRollOut .logIn{
    padding-top : 15px;
    padding-right: 5px;
    height: 1.2em;
}
#menuRollOut .logInText{
    padding-top: 15px;
    padding-left: 15px;
    font-size: 0.8em;
    font-style: normal;
    text-decoration: none;
    color: black;
}
#menuRollOut .logInImage{
    float: left;
}
#menuRollOut .logInImage img{
    padding-top: 10px;
    padding-right: 5px;
    height: 1.2em;
}
/* Fin de la définition de la partie "S'inscrire"  */


/* Définition de la partie "Historique" */
#menuRollOut .historiques{
    padding-top: 15px;
}
#menuRollOut .historique{
    padding-top: 30px;
    padding-left: 15px;
    font-size: 0.8em;
    font-style: normal;
    text-decoration: none;
    color: black;
}
#menuRollOut .historiqueImg{
    float: left;
}
#menuRollOut .historiqueImg img{
    padding-top: 25px;
    padding-right: 5px;
    height: 1.2em;
}
/* Fin de la définition de la partie "Historique" */

/* Définition de la partie "Parametres */
#menuRollOut .parameters{
    padding-top: 15px;
}
#menuRollOut .parameter{
    padding-top: 30px;
    padding-left: 15px;
    font-size: 0.8em;
    font-style: normal;
    text-decoration: none;
    color: black;
}
#menuRollOut .parametersImg{
    float: left;
}
#menuRollOut .parametersImg img{
    padding-top: 25px;
    padding-right: 5px;
    height: 1.2em;
}
/* Fin de la définition de la partie "Parametres" */

/* Définition de la partie "Partage FB" */
#menuRollOut .shareFacebook{
    padding-top: 15px;
}
#menuRollOut .fbShare{
    padding-top: 30px;
    padding-left: 15px;
    font-size: 0.8em;
    font-style: normal;
    text-decoration: none;
    color: black;
}
#menuRollOut .faceBookPicture{
    float: left;
}
#menuRollOut .faceBookPicture img{
    padding-top: 25px;
    padding-right: 5px;
    height: 1.2em;
}
/* Fin de la définition de la partie "Partage FB */

/* Fin de la définition du Menu */

/*definition of the primary screen with historical elements*/
#primaryContainer {
    display: flex;
    flex:auto;
    flex-direction: column;
    width: inherit;
    height:auto;
    height: 100%;
    justify-content: center;
}

#historyBox {
    display: flex;
    flex: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-self: center;
    width:75%;
    height:inherit;
    min-height: 1100px;
    padding-top: 25px;
    background-color: #B3B6B7;
    border: 2px black solid;
}

#firstLine {
    display: flex;
    flex: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: inherit;
    height: 50%;
    padding-top: 20px;
    background-color: #F0F3F4;
    overflow-x: scroll;
    overflow-y: hidden;
    position: absolute;
    top: 200px;
    padding-bottom: 20px;
    border: 1px black solid;
}



#secondLine {
    display: flex;
    flex: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width:inherit;
    height: 50%;
    padding-top: 100px;
    background-color: #F0F3F4;
    overflow-x: scroll;
    overflow-y: hidden;
    position: absolute;
    top: 700px;
    padding-bottom: 20px;
    border: 1px black solid;
}

#box {
    display: flex;
    flex: auto;
    margin-left:6%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    border: 2px black solid;
    border-radius: 45px/45px;
    min-width:25%;
    width:auto;
    height:auto;
    background: -webkit-linear-gradient(to right, #ffffffde, #6DD5FA, #2980B9);
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
}

.weatherPicture:nth-child(1){
    margin: auto;
    align-self: center;
}
.weatherPicture img{
    width:auto;
    height:5em;
    /* min-height: 5em; */
}

.lengendaryPicture:nth-child(2){
    margin: auto;
    align-self: center;
}
.legendary{
    font-weight: bold;
    font-size: 0.7em;
}

#tempHumElementsContainer:nth-child(3){
    display: flex;
    flex-direction:column;
    width:auto;
    height:auto;
    align-items: flex-start;
    justify-content: space-between;
}

.weatherTemperature{
    align-self: flex-start;
    font-weight: bold;
    font-size: 0.8em;
    padding-left: 10px;
}

.weatherHumidty{
    align-self: flex-start;
    font-weight: bold;
    font-size: 0.8em;
    padding-left: 10px;
}

#gdhContainer:nth-child(4){
    display: flex;
    flex: auto;
    flex-direction:column;
    justify-content: space-between;
}

.date{
    display: flex;
    flex:auto;
    align-self: flex-end;
    padding-right: 10px;
}
.groupDate{
    font-weight: bold;
    text-decoration: underline;
    font-size: 0.6em;
}

.hour{
    display:flex;
    flex:auto;
    align-self: flex-end;
    padding-right: 10px;
}
.groupHour{
    font-weight: bold;
    text-decoration: underline;
    font-size: 0.6em;
}



/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Définition du responsiv */
/* media-querries */

@media (max-width:1024px) {

    body {
        width: auto;
        height: auto;
    }

    #containerPrimary {
        width: 100%;
        height: auto;
    }

        /* définition des propriétés du HEADER, à compléter */
    #header {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: nowrap;
    }
    #signIn {
        max-width: 12.5%;
        min-width: 12.5%;
        height: auto;
        padding-right: 10px;
    }

    #signIn a{
        font-size: 0.4em;
    }

    .menuPicture {
    padding-left: 12.5px;
    }

    .helloYou {
        width: 50%;
        height:auto;
        padding-left: 10px;
        font-size: 0.8em;
    }

    #menuRollOut {
        width: auto;
        height: auto;
        min-width: 25%;
    }

    a {
        font-size: 0.8em;
    }

    .indexImg .img{
        width: auto;
        height: auto;
    }

    .logInImage img{
        width: auto;
        height: auto;
    }
    
    .historiqueImg img{
        width: auto;
        height: auto;
    }

    .parametersImg img {
        width: auto;
        height: auto;
    }

    .faceBookPicture img{
        width: auto;
        height: auto;
    }
    /* Fin de la définition du Menu */
    
    
    
    
    /*definition of the primary screen with historical elements*/
    #primaryContainer {
        height:auto;
        /* width: 100%; */
    }
    
    #historyBox {
        width:100%;
        /* height:auto; */
    }
    
    #firstLine {
        /* width: 100%; */
        height: 50%;
    }
    
    #secondLine {
        /* width: 100%; */
        height: 50%;
    }
    
    #box {
        /* width:250px; */
        width: 100%;
        height:auto;
    }
    
    .weatherPicture img{
        width:auto;
        height:auto;
        max-height: 2em;
        /* display: none; */
    }
    
    .legendary{
        font-size: 0.4em;
    }
    
    #tempHumElementsContainer:nth-child(3){
        width:100%;
        height:auto;
        justify-content:flex-start;
    }
    
    .weatherTemperature{
        font-size: 0.6em;
    }
    
    .weatherHumidty{
        font-size: 0.6em;
    }
    
    #gdhContainer {
        justify-content: flex-end;
    }
    
    .date {
        margin-left: 15px;
    }

    .groupDate{
        font-size: 0.4em;
    }
    
    .hour {
        margin-right: 20px;
    }

    .groupHour{
        font-size: 0.4em;
    }
}
