body{
    font-family: Arial;
    font-size: 30px;
    background-color: #0DB6FA;
}

#containerPrimary {
    display: flex;
    flex: auto;

}




/* définition des propriétés du HEADER, à compléter */

#header{
    display: flex;
    align-items: center;
    text-align: center;
    background-color:black;
    color:antiquewhite;
}

#header .menuPicture .avatarUser{
    width: 12.5%;
}

#header .avatarUser{
    height: 20px;
}

#header .menuPicture{
    flex: auto;
    max-width: 12.5%;
    min-width: 12.5%;
    padding-left: -25px;
}

#header .menuPicture img{
    height: 25px;
}

#header .helloYou{
    flex:auto;
    max-width:75%;
    padding-left: 25px;
    /* margin-left: 10px; retrouver comment faire pour mettre une marge à gauche -- flexbox ???  */
}

/* fin de la définition des propriétés du HEADER */


/* définition du menu type roll out */

#menuRollOut {
    display: flex;
    flex:auto;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content:space-between;
    background-color : white;
    max-width: 8em;
    min-height: 1000px;
    height: auto;
}


/* définition de la partie "Accueil" */
#menuRollOut .accueil{
    padding-top: 30px;
}

#menuRollOut .index{
    padding-top: 15px;
    padding-left: 15px;
    font-size: 0.8em;
    font-style: normal;
    text-decoration: none;
    color: black;
}
#menuRollOut .indexImg{
    float: left;
}
#menuRollOut .indexImg img{
    padding-top: 12px;
    height: 1.2em;
}
/* Fin de la définition de la partie "Accueil" */


/* Définition de la partie "S'inscrire" */
#menuRollOut .logIn{
    padding-top : 15px;
    padding-right: 5px;
    height: 1.2em;
}
#menuRollOut .logInText{
    padding-top: 15px;
    padding-left: 15px;
    font-size: 0.8em;
    font-style: normal;
    text-decoration: none;
    color: black;
}
#menuRollOut .logInImage{
    float: left;
}
#menuRollOut .logInImage img{
    padding-top: 10px;
    padding-right: 5px;
    height: 1.2em;
}
/* Fin de la définition de la partie "S'inscrire"  */


/* Définition de la partie "Historique" */
#menuRollOut .historiques{
    padding-top: 15px;
}
#menuRollOut .historique{
    padding-top: 30px;
    padding-left: 15px;
    font-size: 0.8em;
    font-style: normal;
    text-decoration: none;
    color: black;
}
#menuRollOut .historiqueImg{
    float: left;
}
#menuRollOut .historiqueImg img{
    padding-top: 25px;
    padding-right: 5px;
    height: 1.2em;
}
/* Fin de la définition de la partie "Historique" */

/* Définition de la partie "Parametres */
#menuRollOut .parameters{
    padding-top: 15px;
}
#menuRollOut .parameter{
    padding-top: 30px;
    padding-left: 15px;
    font-size: 0.8em;
    font-style: normal;
    text-decoration: none;
    color: black;
}
#menuRollOut .parametersImg{
    float: left;
}
#menuRollOut .parametersImg img{
    padding-top: 25px;
    padding-right: 5px;
    height: 1.2em;
}
/* Fin de la définition de la partie "Parametres" */

/* Définition de la partie "Partage FB" */
#menuRollOut .shareFacebook{
    padding-top: 15px;
}
#menuRollOut .fbShare{
    padding-top: 30px;
    padding-left: 15px;
    font-size: 0.8em;
    font-style: normal;
    text-decoration: none;
    color: black;
}
#menuRollOut .faceBookPicture{
    float: left;
}
#menuRollOut .faceBookPicture img{
    padding-top: 25px;
    padding-right: 5px;
    height: 1.2em;
}
/* Fin de la définition de la partie "Partage FB */

/* Fin de la définition du Menu */

/* Définition de l'encadré principal, avec la température, le taux d'hygrométrie, la date et l'heure du relevé affiché */
#primaryScreen {
    display: flex;
    flex-direction: column;
    flex:auto;
}

#weatherScreen {
    display: flex;
    flex:auto;
    margin-left: 12.5%;
    margin-top: 10px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content:space-between;
    align-items: stretch;
    max-width: 50%;
    height: 800px;
    background-color : #f9a2a2;
    border: 3px black solid;
    border-radius: 45px/45px;
}

.weatherPicture:nth-child(1){
    margin: auto;
    align-self: center;
}
.weatherPicture img{
    height : 15em;
}

.lengendaryPicture:nth-child(2){
    margin: auto;
    align-self: center;
}
.legendary{
    font-weight: bold;
    font-size: 1.2em;
}

#tempHumElementsContainer:nth-child(3){
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.weatherTemperature{
    margin-left:100px;
    align-self: flex-start;
    font-weight: bold;
    font-size: 1.6em;
}

.weatherHumidty{
    margin-right:120px;
    align-self: flex-end;
    font-weight: bold;
    font-size: 1.6em;
}

#gdhContainer:nth-child(4){
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding-bottom: 20px;
}

.date{
    align-self: flex-start;
    padding-bottom: 20px;
    margin-left: 65px;
}
.groupDate{
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2em;
}

.hour{
    align-self: flex-end;
    padding-bottom: 20px;
    margin-right: 65px;
}
.groupHour{
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2em;
}


/* Définition du footer */

#footer{
    display: flex;
    margin: auto;
    align-content: space-between;
    background-color:black;
}