body{
    font-family: Arial;
    font-size: 30px;
    background-color: #0DB6FA;
}




/* définition des propriétés du HEADER, à compléter */

#header{
    display: flex;
    align-items: center;
    text-align: center;
    background-color:black;
    color:antiquewhite;
}

#header .menuPicture .avatarUser{
    width: 12.5%;
}

#header .avatarUser{
    height: 20px;
}

#header .menuPicture{
    flex: auto;
    max-width: 12.5%;
    min-width: 12.5%;
    padding-left: -25px;
}

#header .menuPicture img{
    height: 25px;
}

#header .helloYou{
    flex:auto;
    max-width:75%;
    padding-left: 25px;
    /* margin-left: 10px; retrouver comment faire pour mettre une marge à gauche -- flexbox ???  */
}

/* fin de la définition des propriétés du HEADER */


/* définition du menu type roll out */

#menuRollOut {
    display: flex;
    flex:auto;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content:flex-start;
    background-color : white;
    max-width: 8em;
    height: 800px;
}


/* définition de la partie "Accueil" */
#menuRollOut .accueil{
    padding-top: 30px;
}

#menuRollOut .index{
    padding-top: 15px;
    padding-left: 15px;
    font-size: 0.8em;
    font-style: normal;
    text-decoration: none;
    color: black;
}
#menuRollOut .indexImg{
    float: left;
}
#menuRollOut .indexImg img{
    padding-top: 12px;
    height: 1.2em;
}
/* Fin de la définition de la partie "Accueil" */


/* Définition de la partie "S'inscrire" */
#menuRollOut .logIn{
    padding-top : 15px;
    padding-right: 5px;
    height: 1.2em;
}
#menuRollOut .logInText{
    padding-top: 15px;
    padding-left: 15px;
    font-size: 0.8em;
    font-style: normal;
    text-decoration: none;
    color: black;
}
#menuRollOut .logInImage{
    float: left;
}
#menuRollOut .logInImage img{
    padding-top: 10px;
    padding-right: 5px;
    height: 1.2em;
}
/* Fin de la définition de la partie "S'inscrire"  */


/* Définition de la partie "Historique" */
#menuRollOut .historiques{
    padding-top: 15px;
}
#menuRollOut .historique{
    padding-top: 30px;
    padding-left: 15px;
    font-size: 0.8em;
    font-style: normal;
    text-decoration: none;
    color: black;
}
#menuRollOut .historiqueImg{
    float: left;
}
#menuRollOut .historiqueImg img{
    padding-top: 25px;
    padding-right: 5px;
    height: 1.2em;
}
/* Fin de la définition de la partie "Historique" */

/* Définition de la partie "Parametres */
#menuRollOut .parameters{
    padding-top: 15px;
}
#menuRollOut .parameter{
    padding-top: 30px;
    padding-left: 15px;
    font-size: 0.8em;
    font-style: normal;
    text-decoration: none;
    color: black;
}
#menuRollOut .parametersImg{
    float: left;
}
#menuRollOut .parametersImg img{
    padding-top: 25px;
    padding-right: 5px;
    height: 1.2em;
}
/* Fin de la définition de la partie "Parametres" */

/* Définition de la partie "Partage FB" */
#menuRollOut .shareFacebook{
    padding-top: 15px;
}
#menuRollOut .fbShare{
    padding-top: 30px;
    padding-left: 15px;
    font-size: 0.8em;
    font-style: normal;
    text-decoration: none;
    color: black;
}
#menuRollOut .faceBookPicture{
    float: left;
}
#menuRollOut .faceBookPicture img{
    padding-top: 25px;
    padding-right: 5px;
    height: 1.2em;
}
/* Fin de la définition de la partie "Partage FB */

/* Fin de la définition du Menu */

/* Définition de l'encadré principal, avec la température, le taux d'hygrométrie, la date et l'heure du relevé affiché */
#primaryScreen {
    display: flex;
    flex-direction: column;
    flex:auto;
}

#primaryScreen #weatherScreen {
    display: flex;
    flex-direction: column;
    flex: auto;
    background-color : #A2E0F9;
}